$primaryBtnColor: #5674DC;
$primaryBtnHoverColor: #4661c4;
$secondaryHoverColor: #e9eaf2;

$fontColor: rgba(0, 0, 0, 0.9);

$borderColor: rgba(0, 0, 0, 0.1);

$linksField: rgba(189, 189, 189, 0.3);
$linksField2: rgba(0, 0, 0, 0.5);