.infoModal {
  position: absolute;
 top: 108%;

  .infoModalContainer {

    padding: 24px 24px;

    div {
      margin-bottom: 1rem;
      h4 {
          margin-bottom: 0.5rem;
      }

      p {
          line-height: 24px;
      }
    }
  }
}

.infoBtn {
  padding: 16px 16px;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }

  .circle {
    border: 2px solid $borderColor;
    border-radius: 50%;
    padding: 3px 10px;
  }
}
